### Estadisticas basicas - Valores cuantitativos

In [4]:
import pandas as pd
import numpy as np

# read csv dataframe(table)
#producto_df = pd.read_excel("C:/Users\aagom\OneDrive - Politécnico Grancolombiano\Desktop\IBM SkillsBuild - AI & Agile\Proyecto aurelion\DB\Productos.xlsx")
df = pd.read_excel(r'c:/Users/aagom/OneDrive - Politécnico Grancolombiano/Desktop/IBM SkillsBuild - AI & Agile/Proyecto aurelion/DB/Productos.xlsx')
df

,id_producto,nombre_producto,categoria,precio_unitario,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,1,Coca Cola 1.5L,Alimentos,2347,NaN,NaN,NaN,NaN
1,2,Pepsi 1.5L,Limpieza,4973,NaN,NaN,NaN,NaN
2,3,Sprite 1.5L,Alimentos,4964,NaN,NaN,NaN,NaN
3,4,Fanta Naranja 1.5L,Limpieza,2033,NaN,NaN,NaN,NaN
4,5,Agua Mineral 500ml,Alimentos,4777,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
95,96,Suavizante 1L,Limpieza,4920,NaN,NaN,NaN,NaN
96,97,Limpiavidrios 500ml,Alimentos,872,NaN,NaN,NaN,NaN
97,98,Desengrasante 500ml,Limpieza,2843,NaN,NaN,NaN,NaN
98,99,Esponjas x3,Alimentos,2430,NaN,NaN,NaN,NaN
99,100,Trapo de Piso,Limpieza,4854,NaN,NaN,NaN,NaN